body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeContainer {
  padding: 7px;
}

.homeSectionContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  background-color: rgb(36, 176, 231);
}

.icon {
  color: white;
}

.beerList {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.beerInfoContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  
}

.beerName {
  font-size: 1.1em;
}

.beerTagline {
  color: gray;
  font-weight: 600;
  padding-bottom: 5px;
}

.beerCreator {
  font-size: 12px;
}

.detailTitle {
  display: flex;
  justify-content: space-between;
}

.detailBeerInfo {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 15px;
}

.newBeerForm {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

label {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-weight: 600;
  gap: 5px
}

input {
  width: 100%;
  height: 2em;
  border-radius: 25px;
  border: 1px solid lightgrey;
}

textarea {
  width: 100%;
  height: 7em;
  border-radius: 25px;
  border: 1px solid lightgray;
}